.common-layout {
  .hc-header,
  .hc-footer,
  .hc-main,
  .hc-aside {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hc-header,
  .hc-footer {
    background-color: var(--hc-color-primary-light-7);
    color: var(--hc-text-color-primary);
    text-align: center;
  }

  .hc-aside {
    background-color: var(--hc-color-primary-light-8);
    color: var(--hc-text-color-primary);
    text-align: center;
  }

  .hc-main {
    background-color: var(--hc-color-primary-light-9);
    color: var(--hc-text-color-primary);
    text-align: center;

    height: 150px;
  }
}
